*.pdf
.ipynb_checkpoints/
DoubleIntegrals/DoubleIntegrals/PSets/pset7-partII-info.txt
.idea/inspectionProfiles/profiles_settings.xml
/.idea/
TripleIntegrals/TripleIntegrals/plot_tetra.py
TripleIntegrals/TripleIntegrals/tetra.html
TripleIntegrals/TripleIntegrals/tetra.png

